@page "/cv"
@inject HttpClient Http

<PageTitle>CV</PageTitle>
<h2>Ahmad Sohrabi</h2>
<h3>E-mail: ahmad.sohrabi@carleton.ca</h3>
<h1>Education:</h1>
<p>
    2002-2008 Ph.D. Cognitive Science, Carleton University, Ottawa, Canada
</p>
<p>
    1994-1999 M.A. Educational Psychology, University of Tehran, Tehran, Iran
</p>
<p>
    1989-1993 B.A. (Hons) Clinical Psychology, Shahid Chamran University, Ahvaz, Iran
</p>
<p>

</p>
<h1>Affiliations:</h1>
<p>
    Adjunct Professor, Department of Cognitive Science, Carleton University, Ottawa, Canada, 2021-Current.
</p>
<p>
    Assistant Professor, Department of Psychology, University of Kurdistan, Sanandaj, Iran 2008-2021 (Chair, 2013-2016).
</p>
<p>
    Director of the Counseling Center, University of Kurdistan, Sanandaj, Iran 2008-2011.
</p>
<p>
    Member, Carleton Cognitive Modeling Lab, Carleton University, Ottawa, Canada, 2002-Current.

</p>
<p>
    Membership in Professional Organizations:
</p>
<p>
    International Association of Computer Science and Information Technology (IACSIT).
</p>
<p>
    Canadian society for Brain Behavior and Cognitive Science (BBCS) Association for the Scientific Study of Consciousness (ASSC)
</p>
<p>
    Cognitive Science Society (CSS)
</p>
<p>
    Awards and bursaries:
</p>
<p>
    Carleton University, Graduate Studies Bursaries, 2005, 2006, 2007
</p>
<p>
    Carleton University, Scholarship Award, 2006
</p>
<p>
    University of Kurdistan, Full Scholarship, 2002-2005
</p>
<p>
    Skills:
</p>
<p>
    Cognitive Modeling, Neural Networks (Multi-Layered, DL, Dynamic, etc.); Neuroimaging (MRI; fMRI; rs-fMRI; EEG); Behavioral experimentation and statistical analysis; Cognitive Task Design; Programming (including Web-based), Neurofeedback, Biofeedback; BCI, Office, SPSS, Matlab.
</p>
<p>
    Teaching experience:
</p>
<p>
    •	Several graduate and undergraduate courses at University of Kurdistan, Sanandaj, Iran 2008-2021.
</p>
<p>
    •	Developed and taught a graduate course on Neuroimaging (CGSC 6501F) at Carleton University, Ottawa, Canada, 2006-2007. URL:  http://chat.carleton.ca/~asohrabi/CGSC6501F/
</p>
<p>
    •	Supervising cognitive and clinical psychology students’ dissertations.
</p>
<p>
    Conferences
</p>
<p>
    Scientific Committee Member, the 6th Iranian Psychology Association Congress: Multidisciplinary Approaches, Tehran, 2017.
</p>
<p>
    Co-Chair, the 1st Conference on Psychology and Family (CBAA09), University of Kurdistan, Sanandaj, 2013.
</p>
<p>
    Invited Speaker, The 1st Conference on Pathology of Organizational Relationship, Islamic Azad University of Saghez, Saghez, 2013.
</p>
<p>
    Scientific Committee Member, the 1st Conference on Personality in Modern Life, Islamic Azad University of Sanandaj, Sanandaj, 2012.
</p>
<p>
    Invited Speaker, The 5th Congress on Addiction Biology, Medical University of Tehran, Tehran, 2011.
</p>
<p>
    Chair, the 2nd Conference on Covert Aspects of Psycho-social Pathologies (2CAP), University of Kurdistan, Sanandaj, 2010.
</p>
<p>
    Chair, the 1st Conference on the Biopsychosocial Aspects of Addiction (CBAA09), University of Kurdistan, Sanandaj, 2009.
</p>
<p>
    Other Activities
</p>
<p>
    •	Organizing, speaking, and teaching at many local workshops, seminars, and meetings.
</p>
<p>
    •	Internal Manager, Quarterly Journal of Family Counselling and Psychotherapy, http://www.fcpjournal.ir/
</p>
<p>
    •	Editorial Board, International Journal of Neurology Research.
</p>
<p>
    •	Reviewing several journal and conference papers.
</p>
<p>
    Publications (English Only)
</p>
<p>
    Books:
</p>
<p>
    Sohrabi, A. and West, R. L. (2010). Cognitive Science of Primed Decision Making. VDM-Verlag Publishing.
</p>
<p>
    Book Chapters:
</p>
<p>
    Sohrabi, A. & Smith, A. M., West, R. L., Cameron, I.   (2007). Uncertainty, Risk, and Illusion in Reward Prediction: Evidence from fMRI. In Hardy-Vallée, B., ed. (2007) Cognitive Decision-Making: Empirical and Foundational issues. Cambridge: Cambridge Scholars Press Ltd.
</p>
<p>
    papers:
</p>
<p>
    Submitted:
</p>
<p>
    Sohrabi, A., West, R. L. (2023). Reverse Facilitation Effect in the Stroop Task: Dynamic Nature Explains ‘Fragility’, Annual Conference of the Cognitive Science Society.
</p>
<p>
    Published:
</p>
<ul>
    <a href="https://scholar.google.com/citations?user=0tUzixEAAAAJ&hl=en" target="_blank"> Google Scholar</a>

</ul>
<ul>
    <a href="https://research.uok.ac.ir/~asohrabi/en/#research" target="_blank"> This Includes other Non-English papers and Students' Dissertations</a>

</ul>

<h3>Talks not listed</h3>

<ul>
    <li>Erbil</li> https://edepot.wur.nl/237382
    <li>Sulimanyeh</li> https://www.slideshare.net/shaikhani/mezopotamya-5th-medical-congresssul131632013art-gallery
    <li>Finland</li>https://www.diva-portal.org/smash/get/diva2:869081/FULLTEXT01.pdf
    <li>Reading Skills for Special Students, Sanandaj, 2001</li>
    <li>Information Technology in New Millennia, Baneh, 2000</li>
    <li>Internet for Humanitarian and Religous Activists, Saghez, 2000</li>
    <li>Psychology of Reading, Teachers, Saghez, 1999</li>
    <li>Mindfull Awareness: Mental Health Weak, for Highschool Students 1998</li>
</ul>
