@page "/"


<h1><img src="favicon.png" alt="Homepage" title="ASohrabi" style="max-width: 100%;" /></h1>

<h3>Ahmad Sohrabi, Adjunct Professor, Carleton University, Ottawa</h3>
<p>
    <strong>Breif Academic Biography</strong> I graduated from Carleton University in 2008 and went back to Iran to teach, due to financial commitment for an awarded scholarship. I taught undergrad and graduate courses, supervised cognitive and clinical graduate students, and did some research. Now I am back in Ottawa and looking for a job. I would like to apply for your recently announced position. My CV is attached and here is a summary of my experience.
    I am familiar with scientific research, experimentation, neuroimaging, modeling. My BA’s final project was on mental health tests in a large sample which I analyzed by SPSS early versions. Then I continued research on dyslexia and reading during my master program for my dissertation
    During my PhD years, I employed cognitive experimentation, neuroimaging, and modeling. After my PhD, I worked on modeling but mainly spent time on developing computerized tasks for my colleagues as well as cognitive psychology students (and even clinical practices such as mindfulness and compassion for my clinical psychology students).
    I have also done some neuroimaging studies (fMRI, VBM, resting-state, and EEG). The computerized and web-based tasks that I have developed and programmed include: some tasks for gamble-like decision making and delayed discounting, priming (including line, symbol, number, learning and memory phase, cue, and mask), prospective memory, reaction to fairness (ultimatum game), prisoner’s dilemma, implicit learning, noisy face/house perception, face direction priming, and ego depletion.
    Moreover, in some of the tasks, I was able to connect devices to computers for experimental purposes (e.g., joystick, MRI-compatible response button, BCI devices (Neurosky dry electrode headset and Procomp EEG), Arduino microcontroller, Dance Revolution stepping pad, etc.). In addition, I have managed to show my students to work with tDCS, pIR HEG, skin conductance and heart rate sensors.
</p>

<h3>My Activities</h3>

<p>
    <a href="https://scholar.google.com/citations?user=0tUzixEAAAAJ&hl=en" target="_blank"> Google Scholar</a>

</p>
<p>
    <a href="https://orcid.org/0000-0001-5941-4521" target="_blank"> ORCID Public View</a>

</p>

<p>
    <a href="https://sites.google.com/view/ccmr/rfkk/rfcc/csfcc/bbcs2022" target="_blank"> Recent Abstracts</a>

</p>

<p>
    <a href="http://englishonceagain.blogspot.com" target="_blank"> Early Community Activities</a>

</p>

<p>
    <a href="https://www.psytoolkit.org/c/3.4.2/survey?s=LAUGe" target="_blank"> Tasks Designed for Students</a>
    <b>Raven Short Form, 9-item, Theory of Mind Through Pictorial Stories, Reading Mind in the Eyes, SimonTask, Task Switch, Visual Search </b>
</p>

<p>
    <a href="https://github.com/CarletonCognitiveModelingLab/python_actr/wiki/PythonACTRTutorials" target="_blank"> Github / Contribution</a>

</p>


<p>
    <a href="https://sites.google.com/view/ccmr/zazaki" target="_blank"> Academic Misc Posts</a>

</p>
<p>
    <a href="https://www.jiscmail.ac.uk/cgi-bin/webadmin?A1=ind05&L=spm&O=A&H=0&D=0&T=1#31" target="_blank"> Coding Help By Animation</a>

</p>

<p>
    <a href="https://www.jiscmail.ac.uk/cgi-bin/webadmin?A1=ind05&L=spm&O=A&H=0&D=0&T=1#31" target="_blank"> Forum Contribution, Old</a>

</p>
<p>
    <a href="https://sites.google.com/view/ccmr/photos" target="_blank"> Academic Misc Photos</a>

</p>

<hr />

<h3>Some of My Supervised Students:</h3>
<p>
    <ul class="list-unstyled">
        <li><i class="fa fa-check"></i> Fereidoun Malaei<a href="https://scholar.google.com/citations?hl=en&user=iYHParQAAAAJ" target="_blank">PhD student, Newziland</a></li>
        <li><i class="fa fa-check"></i> Abdolvahed Narmashiri<a href="https://scholar.google.com/citations?user=pltSSuEAAAAJ&hl=en" target="_blank">Post-Doc, Iran</a></li>
        <li><i class="fa fa-check"></i> Morad Rasouli Azad<a href="https://scholar.google.com/citations?user=mnvrxPUAAAAJ&hl=en" target="_blank">Instructor, Iraq and Canada</a></li>
        <li><i class="fa fa-check"></i> Fateh Sohrabi<a href="https://scholar.google.com/citations?hl=en&user=uaRgjhMAAAAJ" target="_blank">PhD Student, Iran</a></li>
        <li><i class="fa fa-check"></i> Mahsa Mosalman<a href="https://www.researchgate.net/profile/Mahsa-Mosalman/amp" target="_blank">PhD Student, Iran</a></li>
    </ul>
</p>
<hr />

<hr />
<p> Disclaimer / About the Author</p>
